.footer {
  background-color: #0a2850;
  position: relative;
  padding: 60px 0;
}

.footer__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  height: 340px;
  width: 340px;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 1;
}

.footer__content {
  margin: 0 80px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 2;
}

.footer__social-heading {
  color: #fff;
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0 0 16px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #fff;
  margin: 108px 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
