.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__title {
  margin-left: 80px;
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: flex-end;
}

.header__footer-left {
  margin: 0 0 40px 80px;
}
.header__footer-right {
  margin: 0 80px 40px 0;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
